/hopkins
/forecasts
plots.html
/evaluate-forecasts.html
/figure/*
/evaluate-forecasts.md
/figure
/CEID-InfectionKalman
/other-model-forecasts.rds
/trajectories.png
/trajectories-all.png
/trajectories-0.png
/trajectories-1.png
/trajectories-2.png
/trajectories-3.png
/analyze-scores.md
/analyze-scores.html
/wis-model-location.csv
/wis-horizon-location-model.csv
/trajectories-0
/trajectories-1
/trajectories-2
/trajectories-3
/wis-model.csv
/model.csv
/location-model.csv
/horizon-location-model.csv
/trajectories-all
/horizon-location-model-cases.csv
/horizon-location-model-hosp.csv
/horizon-location-model-death.csv
/fits/*/fit.RData
/fits/*/mobility.png
metrics.csv
/plots
/lambda020.00-status-quo-CEID-InfectionKalman
/wayback-urls.csv
/residential-mobility-plot.pdf
/indicators-revisions-cal.png
/hosp-wis-by-date.png
/cases-deaths-wis-by-date.png
/cases-deaths-wis.png
/hosp-wis.png
/california-mase.png
/california-fitting-time.png
/res-effect-by-forecast-date.png
