/hopkins
/forecasts
plots.html
/evaluate-forecasts.html
/figure/*
/evaluate-forecasts.md
/figure
/CEID-InfectionKalman
/other-model-forecasts.rds
/trajectories.png
/trajectories-all.png
/trajectories-0.png
/trajectories-1.png
/trajectories-2.png
/trajectories-3.png
/analyze-scores.md
/analyze-scores.html
